<html>
<head>
	 <link type="text/css" rel="stylesheet" href="stylesheets/style1.css" />
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	 <link type="text/css" rel="stylesheet" href="stylesheets/style1.css" />
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	  
</head>
<body>

	<div class="back">
	<div class="header">
		
		<nav class="" role="navigation">

                    <div style="float:right">
	                    <ul class="nav navbar-nav">
	                    <br>
	                      <li>
	                        <a href="/success" style="color:white"><i class="glyphicon glyphicon-home"></i> Home</a>
	                      </li>
	                      <li>
	                        <a href="/friendList" role="button" data-toggle="modal" style="color:white"><i class="glyphicon glyphicon-plus"></i> Friends</a>
	                      </li>
	                      <li>
	                        <a href="/logout" style="color:white"><span class="badge">Logout</span></a>
	                      </li>
	                    </ul>
              		</div> 
              		<div style="float:left;vertical-align:center">
              		 User Name	
              		</div>
              		<div style="float:right;margin-right:19%">
	                    <form class="navbar-form navbar-left form" action='searchFriend'><br>
		                    <div>
		                        <div class="input-group input-group-sm" style="max-width:360px;">
		                          <input type="text" class="search-input" placeholder="Search" name="search" id="srch-term">
		                          <div class="input-group-btn">
		                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		                          </div>
		                        </div>
		                    </div>
	                    </form>
                    </div>     
                  	</nav>
             </div>
             <div class="well inner-content" id="locate"> 
                 <h3> <%= title %> </h3>
    <form method="post" action="updateAbout">
    <label>College: <input type="text" name="college" id="college" placeholder="College name" /> </label><br>
    <label>Current Job: <input type="text" name="c_job" id="c_job" placeholder="Current job" /> </label><br>
    <label>Previous Job: <input type="text" name="p_job" id="p_job" placeholder="Previous job" /> </label><br>
    <label>Phone No:: <input type="text" name="p_no" id="p_no" placeholder="Phone No" /> </label><br>
    <label>Hobbey: <input type="text" name="hobbey" id="hobbey" placeholder="Hobbey" /> </label><br>
    <input type="submit" name="submit" value="submit"> <a href="/success">Back</a>
    </form>
            </div>
	</div>
	       
	       <div class="sidebar-boder"> 
		       <div class="sidebar-offcanvas" id="sidebar" role="navigation">
		       
		        <ul class="nav nav-sidebar">
		          
		          <li><a href="/aboutEdit">Edit Profile</a></li>
		          <li><a href="/about" ng-model="about1" name="about1" ng-click=>About</a></li>
		        </ul>
		        <ul class="nav nav-sidebar">
		          <li><a href="/addGroup">Create Group</a></li>
		          <li><a href="/showGroup">Show Groups</a></li>
		          <li><a href="">Manage Groups</a></li>
		          <li><a href="/pendingReq">Pending Friend Request</a></li>
		          <li><a href="/about">About</a></li>
		          <li><a href="/aboutEdit">Edit Profile</a></li>
		        </ul>
		       </div>
		       
           </div>
          
          <div>
           
            
           
            <div>
              <p id="myuser"></p>
              <p id="mypost"></p>
            </div> 
           
	       </div>
           

    
</body>

</html>